<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HarmansList | Home
        style
            include home.css
    body
    
    // variables
    - var username = username;

    // copy this

    div#header-row
        div#user-box
            h1#welcome-msg Welcome, #{username}
            p#current-date Current Date: #{date}
            div#btn-wrapper
                form(method="POST" action="http://54.226.49.231:8000/logout")
                    input#logout-btn(type="submit" value="Logout") 
                form(method="GET" action="/user/panel/"+username+"/profile/settings")
                    input#editprof-btn(type="submit" value="Edit Profile")
                form(method="GET" action="/user/panel/"+username+"/createlisting")
                    input#editprof-btn(type="submit" value="Create Listing")
                // check if user is admin
                if username == "Harman"
                    form(method="GET" action="/user/panel/"+username+"/profile/reportedposts")
                        input#editprof-btn(type="submit" value="View Reports")

        div.filler-box
            
        div.filler-box

    div.row 
            each post in posts
                div.column
                    div#post-header
                        div#left
                            - var img = "/images/" + post.fileImageName
                            if user
				
                               - var imgavatar = "/images/"+user[0].avatar;
                               img(src=imgavatar width="56px" height="56px")
                               div#post-username-wrapper
                                h4 #{post.Author}
                                p #{post.timeOfPost}
                        div#right

                    div#imagepost-wrapper
                        img#imagepost(src=img width="70%" height="40%")

                    div#post-desc-wrapper
                        p#post-desc 
                            span #{post.postMessage}

                    if username == post.Author
                           form(method="POST" action="/user/post/delete/" + post.fileImageName)
                                input.deletepost(type="submit" value="Delete Post") 
                    if username !== post.Author
                            form(method="GET" action="/user/post/report/" + post._id)
                                button.reportpost(type="submit") Report 
